@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dokdo&family=Noto+Sans+KR:wght@400;700&family=Noto+Serif+KR&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
}
#navibar {
    display: flex;
    width: 80%;
}
#navibar .logo {
    width: 100px;
    height: 90px;
}
#navibar .logo img {
    width: 100%;
}
#navibar .menu {
    display: inline-block;
    margin: 0 10px;
}
#navibar .menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: #222;
    font-size: 600;
}
#banner {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9)), url(../images/baseballground3.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
#navibar {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
#navibar .menu {
    position: relative;
}
#navibar .menu a {
    color: #222;
    font-size: 20px;
}
#navibar .menu a::after {
    content: "";
    background-color: rgb(129, 111, 6);
    width: 0;
    height: 3px;
    position: absolute;
    left: 15%;
    bottom: -8px;
}
#navibar .menu a:hover::after {
    width: 70%;
}
#banner .heading {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#banner .heading h2 {
    font-family: 'Comforter Brush', cursive;
    font-family: 'Dokdo', cursive;
    color: rgb(184, 172, 5);
    font-size: 90px;
    text-shadow: 2px 1px 1px #000;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
.heading p {
    font-family: 'Noto Serif KR', serif;
    font-size: 30px;
    font-weight: 600;
    color: #eee;
    line-height: 1.8;
    margin-bottom: 90px;
}
.buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.buttons button {
    font-size: 20px;
    padding: 15px 40px;
    margin: 0 30px;
    border-radius: 30px;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #eee;
    position: relative;
}
.buttons button a {
    color: #eee;
}
.buttons button span {
    width: 0;
    height: 100%;
    background-color: rgb(129, 111, 6);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.5s;
}
.buttons button:hover span {
    width: 100%;
}
.buttons button:hover {
    border: none;
}

@media screen and (max-width:768px) {
    #navibar .logo {
        width: 50px;
        height: 40px;
    }
    
    #navibar .menu a {
        padding: 5px 10px;
        font-size: 15px;
    }
    #banner .heading h2 {
        font-size: 70px;
        text-shadow: 1px 1px 1px #000;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }
    .heading p {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    .buttons {
        display: inline-block;
        gap: 20px;
    }
    .buttons button {
        font-size: 15px;
        padding: 10px 20px;
        margin: 0 10px;
    }
}
