* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    background-color: #444;
}
#container {
    width: 550px;
    margin: 20px auto;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #222;
}
.mic {
    background: url('../images/mic.png') right bottom no-repeat #eee;
    background-size: 200px;
    z-index: 10;
}
h1 {
    padding: 20px;
    margin: 20px auto;
    text-align: center;
}
legend {
    font-size: 16px;
    font-weight: bold;
}
label {
    float: left;
    width: 150px;
    height: 35px;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
}
input, textarea {
    float: left;
    width: 300px;
    height: 35px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #222;}
textarea {
    height: auto;
}
input:active, textarea:active {
    border: 2px solid #222;
    border-radius: 5px;
}
fieldset {
    width: 95%;
    padding: 20px 5px;
    margin: 20px auto;
}
button {
    display: inlind-block;
    border: 1px solid #222;
    border-radius: 6px;
    width: 150px;
    font-size: 18px;
    padding: 7px 25px;
    margin: 0 10px;
}
li a[href $= "doc"] {
    background: url("../images/word.png") no-repeat right center ;
    padding-left: 35px;
    padding-right: 35px;
    line-height: 40px;
}
li a[href $= "pdf"] {
    background: url("../images/pdf.png") no-repeat right center ;
    padding-left: 35px;
    padding-right: 35px;
    line-height: 40px;
}
fieldset:last-child {
    border: none;
}
fieldset>div {
    width: 500px;
    /* margin: 0 auto; */
    text-align: center;
}